#main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main h1{
    margin-bottom: 3rem;
}

#logodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}

#logodiv svg{
    width: 3rem;
    fill: var(--white);
}

#appsection{
    width: 75%;
    height: 50vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 5%;
}

#uploaddiv, #resultdiv{
    background-color: var(--background2);
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border2);
    padding: 2rem;
}

#arrowdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagepreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button{
    all:unset;
    color: var(--white);
    background-color: var(--background3);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: var(--border3);
}

#input{
    background-color: var(--background3);
    padding: 0.75rem;
    border-radius: 10px;
    font-family: '__Poppins_dd2ae8', '__Poppins_Fallback_dd2ae8';
}

.imagecontainer{
    height: 30%;
    border: var(--border3);
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.imagecontainer img{
    width: 100%;
    height: 100%;
}

#originalimagecontainer{
    position: relative;
}

#removebutton{
    all:unset;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--white);
    background-color: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#removedbgimagecontainer{
    background-image: url(/transparentpattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#credits{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}

#popuperror{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 3;
}

#popupcontent{
    width: 25%;
    height: 25%;
    background-color: var(--background2);
    border-radius: 15px;
    border: var(--border3);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
}

@media screen and (max-width: 767px){
    #main{
        height: auto;
        padding: 3rem 0rem;
    }

    #appsection{
        align-items: flex-start;
        height: auto;
        flex-wrap: wrap;
    }

    #uploaddiv, #resultdiv{
        width: 100%;
    }

    .imagecontainer{
        width: 50%;
        height: auto;
    }

    .imagecontainer img{
        width: 100%;
        height: 100%;
    }

    #uploaddiv, #arrowdiv{
        margin-bottom: 2rem;
    }

    #input{
        font-size: 0.8rem;
    }

    #arrowdiv svg{
        transform: rotate(90deg);
    }

    #credits{
        margin-inline: 4rem;
    }
    
    #popupcontent{
        width: 50%;
        height: auto;
        background-color: var(--background2);
        border-radius: 15px;
        border: var(--border3);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 2rem;
    }
}